button.ribcage-back-btn {
    display: block; /* show this only on small screens */

    background: transparent;
    font-size: 1em;
    z-index: 10;
    height: 40px;
    margin: 0;
    padding: 0;
}
button.ribcage-back-btn span.label {
    line-height: 1em;
}
button.ribcage-back-btn i {
    display:inline-block;
    width: .5em;
    height: .7em;
    position: relative;
}
button.ribcage-back-btn i:before,
button.ribcage-back-btn i:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
button.ribcage-back-btn i:before {
    left:0;
    border-width:.4em .4em .4em 0;
    border-color:transparent #0078e7 transparent transparent;
}
button.ribcage-back-btn i:after {
    right:0;
    border-width:.4em .4em .4em 0;
    border-color:transparent #f6f6f8 transparent transparent;
}
